*{
  box-sizing: border-box;
}
body {
  margin: 0;
}
.gameview {
  display: grid;
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: center;
  grid-template-rows: 40px auto;
}

.house,
.scales {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height:100%;
}
