.catContainer {
  justify-content: center;
  // position: absolute;
  display: grid;
  align-self:flex-end;

  h1 {
    margin-bottom: 0;
  }

  .cat {
    background: url('./bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    padding: 19px;

    &>img {
      border-radius: 50%;
      box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 0.18);
      width: 100%;
      height: 100%;
    }
  }
}
