.cat {
  justify-content: center;
  display: flex;
  &>img {
    display: block;
    border-radius: 50%;
    border: 10px solid #f00;
    width: auto;
    max-width: 200px;
    max-height: 200px;
  }
}
