.room {
  flex:1 1;
  min-height: 60vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 50% 50%;
}

.kitchen {
  background-image: url('http://www.johnmoylesbuilder.com/uploads/2/9/4/5/2945280/4915026.jpg?880');
}

.bedroom {
  background-image: url(
    'https://media.istockphoto.com/vectors/children-room-graphic-black-white-interior-sketch-illustration-vector-vector-id656884928'
  );
}

.refrigirator {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.food {
  max-width:40px;
  display: block;
  &>img{
    width:100%;
  }
}

.wall {
  width: auto;
}
.wall__east {
  background: #f00;
  transform: skewY(-10deg) translateY(37px);
}
.wall__west {
  background: #ff0;
  transform: skewY(10deg) translateY(37px);
}
.floor {
  background: #f0f;
  grid-column-start: 1;
  grid-column-end: last;
}
