.scale {
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  .points {
    flex-wrap: wrap;
    display: inline-flex;
    flex-direction: row;
    .point {
      width:10px;
      height:10px;
      background: #f00;
      border-radius: 50%;
    }
  }
}
